//picture and title put top
// the rest of the contanet we follow box model.
// we will make 3 decks.
//the first deck will be title on my profile picture.
//seconde deck will be my 7Q from game and img of one of those quations  
//the last deck will have img on left hand side and top 10 list on the right






body {
    background: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background: rgb(99, 209, 243);
    height: 150px;
    line-height: 150px;
    text-align: center;

}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
}

main {
    margin: 25px;
}

footer {
    margin: 25px;

}

ul {
    list-style-type:  square;
}

ol {
    counter-increment: section;
    font-size: 12px;
}

/*
.orderedListItem {
    display: inline-block;
    margin: 10px;
    counter-increment: section;
    padding: 5px;

}
*/

li {
    margin-left: 10;
}