body {
    background: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background: rgb(99, 209, 243);
    height: 150px;
    line-height: 150px;
    margin: 10px;
    width: 100px;
    padding: 15px;
    text-align: center;
    

}

/*
div{
    margin: 10px;
    width: 400px;
    padding: 15px;
}
*/

h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    width: 400px;
    padding: 15px;
}

img {
    display: inline-block;
    margin: 10px;
    width: 400px;
    padding: 15px;
}

main {
    margin: 25px;
}

footer {
    margin: 25px;

}

ul {
    list-style-type:  square;
}


li {
    margin-left: 10;
}